*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $font-primary, monospace, sans-serif;
}

:root {
    line-height: 1.5;
    font-weight: 400;
  
    color: rgba(0, 0, 0, 0.88);
    background-color: #ffffff;
}
  
a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        text-decoration: none;
    }
}

html {
    font-family: $font-primary;
    font-size: 62.5%; // 1rem = 10px
}
