@font-face {
    font-family: Assistant-extrabold;
    font-weight: 800;
    src: url("../../assets/fonts/Assistant-ExtraBold.ttf");
}

@font-face {
    font-family: Assistant-bold;
    font-weight: 700;
    src: url("../../assets/fonts/Assistant-Bold.ttf");
}

@font-face {
    font-family: Assistant-semibold;
    font-weight: 600;
    src: url("../../assets/fonts/Assistant-SemiBold.ttf");
}

@font-face {
    font-family: Assistant-medium;
    font-weight: 500;
    src: url("../../assets/fonts/Assistant-Medium.ttf");
}

@font-face {
    font-family: Assistant;
    font-weight: 400;
    src: url("../../assets/fonts/Assistant-Regular.ttf");
}

@font-face {
    font-family: Assistant-light;
    font-weight: 300;
    src: url("../../assets/fonts/Assistant-Light.ttf");
}